@model Vidly.ViewModels.ListAllCustomersViewModel


@{
    ViewBag.Title = "List of all Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Listing all Customers</h2>

@if (Model.Customers.Count == 0)
{
    <p class="font-weight-bold">No customers exists!!!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th class="font-weight-bold">Customer Name</th>
            <th class="font-weight-bold">Membership Type</th>
            <th class="font-weight-bold">Discount Rate</th>
        </tr>
        <tbody class="body-content">
            @foreach (var customer in @Model.Customers)
            {
                <tr class="d-lg-table-row">
                    <td>@Html.ActionLink(@customer.Name, "Edit", "Customers", new { id = @customer.Id }, null)</td>
                    <td>@customer.MemberShipType.MemberShipTypeName</td>
                    <td>@customer.MemberShipType.Discount%</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Add Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
}


